# Create Covid_19_Diet Table
Load four csv's and create new table based on type field.

In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
Fat_Supply_Quantity = "Resources/Fat_Supply_Quantity_Data.csv"
Fat_Supply_Quantity_df = pd.read_csv(Fat_Supply_Quantity)
Fat_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

In [10]:
Food_Supply_Quantity = "Resources/Food_Supply_Quantity_Data.csv"
Food_Supply_Quantity_df = pd.read_csv(Fat_Supply_Quantity)
Food_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

In [11]:
Food_Supply_Kcal = "Resources/Food_Supply_kcal_Data.csv"
Food_Supply_Kcal_df = pd.read_csv(Fat_Supply_Quantity)
Food_Supply_Kcal_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

In [12]:
Protein_Supply_Quantity = "Resources/Protein_Supply_Quantity_Data.csv"
Protein_Supply_Quantity_df = pd.read_csv(Fat_Supply_Quantity)

Protein_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%

# Create a filtered dataframe for each dataframe

In [32]:
#Create a filtered dataframe from specific columns
Food_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Food_Supply_Quantity_transformed= Food_Supply_Quantity_df[Food_Supply_Quantity_cols].copy()

#Rename column headers 
Food_Supply_Quantity_transformed = Food_Supply_Quantity_transformed.rename(columns={'Country': 'Country', 
                                                                                    'Animal Products':'Animal_Products',
                                                                                    'Cereals - Excluding Beer':'Cereals',
                                                                                    'Eggs':'Eggs',
                                                                                    'Fruits - Excluding Wine': 'Fruits',
                                                                                    'Meat':'Meat',
                                                                                    'Milk - Excluding Butter':'Milk',
                                                                                    'Fish, Seafood': 'Fish_Seafood', 
                                                                                    'Vegetables':'Vegetables'})


#Clean the data by dropping duplicates and setting the index
Food_Supply_Quantity_transformed.drop_duplicates("Country", inplace=True)
Food_Supply_Quantity_transformed.set_index("Country", inplace=True)

Food_Supply_Quantity_transformed.insert(0,'Type', 2)

Food_Supply_Quantity_transformed

,Type,Animal_Products,Cereals,Eggs,Fruits,Meat,Milk,Fish_Seafood,Vegetables
Country,,,,,,,,,
Afghanistan,2,21.6397,8.0353,0.6859,0.4246,6.1244,8.2803,0.0327,0.3593
Albania,2,32.0002,2.6734,1.6448,0.6418,8.7428,17.7576,0.1445,0.6503
Algeria,2,14.4175,4.2035,1.2171,0.5772,3.8961,8.0934,0.2008,0.5145
Angola,2,15.3041,6.5545,0.1539,0.3488,11.0268,1.2309,1.4155,0.1231
Antigua and Barbuda,2,27.7033,3.2153,0.3872,1.2177,14.3202,6.6607,1.5263,0.2469
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),2,16.3261,2.5449,0.6555,0.9640,7.0949,5.5217,0.5707,0.1851
Vietnam,2,33.2484,3.7155,0.7839,0.4079,26.4292,0.7520,1.1217,0.6373
Yemen,2,12.5401,11.5271,0.5514,0.2564,8.0010,1.3463,0.3847,0.1667
Zambia,2,9.6005,14.3225,0.6266,0.1343,4.9010,1.2756,1.0070,0.1567
Zimbabwe,2,10.3796,9.7922,0.3682,0.0614,4.5674,2.1040,0.2455,0.0789

In [33]:
#Create a filtered dataframe from specific columns
Fat_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Fat_Supply_Quantity_transformed= Fat_Supply_Quantity_df[Fat_Supply_Quantity_cols].copy()

#Rename column headers 
Fat_Supply_Quantity_transformed = Fat_Supply_Quantity_transformed.rename(columns={'Country': 'Country', 
                                                                                    'Animal Products':'Animal_Products',
                                                                                    'Cereals - Excluding Beer':'Cereals',
                                                                                    'Eggs':'Eggs',
                                                                                    'Fruits - Excluding Wine': 'Fruits',
                                                                                    'Meat':'Meat',
                                                                                    'Milk - Excluding Butter':'Milk',
                                                                                    'Fish, Seafood': 'Fish_Seafood', 
                                                                                    'Vegetables':'Vegetables'})


#Clean the data by dropping duplicates and setting the index
Fat_Supply_Quantity_transformed.drop_duplicates("Country", inplace=True)
Fat_Supply_Quantity_transformed.set_index("Country", inplace=True)

Fat_Supply_Quantity_transformed.insert(0,'Type', 1)

Fat_Supply_Quantity_transformed

,Type,Animal_Products,Cereals,Eggs,Fruits,Meat,Milk,Fish_Seafood,Vegetables
Country,,,,,,,,,
Afghanistan,1,21.6397,8.0353,0.6859,0.4246,6.1244,8.2803,0.0327,0.3593
Albania,1,32.0002,2.6734,1.6448,0.6418,8.7428,17.7576,0.1445,0.6503
Algeria,1,14.4175,4.2035,1.2171,0.5772,3.8961,8.0934,0.2008,0.5145
Angola,1,15.3041,6.5545,0.1539,0.3488,11.0268,1.2309,1.4155,0.1231
Antigua and Barbuda,1,27.7033,3.2153,0.3872,1.2177,14.3202,6.6607,1.5263,0.2469
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),1,16.3261,2.5449,0.6555,0.9640,7.0949,5.5217,0.5707,0.1851
Vietnam,1,33.2484,3.7155,0.7839,0.4079,26.4292,0.7520,1.1217,0.6373
Yemen,1,12.5401,11.5271,0.5514,0.2564,8.0010,1.3463,0.3847,0.1667
Zambia,1,9.6005,14.3225,0.6266,0.1343,4.9010,1.2756,1.0070,0.1567
Zimbabwe,1,10.3796,9.7922,0.3682,0.0614,4.5674,2.1040,0.2455,0.0789

In [34]:
#Create a filtered dataframe from specific columns
Food_Supply_Kcal_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Food_Supply_Kcal_transformed= Food_Supply_Kcal_df[Food_Supply_Kcal_cols].copy()

#Rename column headers 
Food_Supply_Kcal_transformed = Food_Supply_Kcal_transformed.rename(columns={'Country': 'Country', 
                                                                                    'Animal Products':'Animal_Products',
                                                                                    'Cereals - Excluding Beer':'Cereals',
                                                                                    'Eggs':'Eggs',
                                                                                    'Fruits - Excluding Wine': 'Fruits',
                                                                                    'Meat':'Meat',
                                                                                    'Milk - Excluding Butter':'Milk',
                                                                                    'Fish, Seafood': 'Fish_Seafood', 
                                                                                    'Vegetables':'Vegetables'})


#Clean the data by dropping duplicates and setting the index
Food_Supply_Kcal_transformed.drop_duplicates("Country", inplace=True)
Food_Supply_Kcal_transformed.set_index("Country", inplace=True)

Food_Supply_Kcal_transformed.insert(0,'Type', 3)

Food_Supply_Kcal_transformed

,Type,Animal_Products,Cereals,Eggs,Fruits,Meat,Milk,Fish_Seafood,Vegetables
Country,,,,,,,,,
Afghanistan,3,21.6397,8.0353,0.6859,0.4246,6.1244,8.2803,0.0327,0.3593
Albania,3,32.0002,2.6734,1.6448,0.6418,8.7428,17.7576,0.1445,0.6503
Algeria,3,14.4175,4.2035,1.2171,0.5772,3.8961,8.0934,0.2008,0.5145
Angola,3,15.3041,6.5545,0.1539,0.3488,11.0268,1.2309,1.4155,0.1231
Antigua and Barbuda,3,27.7033,3.2153,0.3872,1.2177,14.3202,6.6607,1.5263,0.2469
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),3,16.3261,2.5449,0.6555,0.9640,7.0949,5.5217,0.5707,0.1851
Vietnam,3,33.2484,3.7155,0.7839,0.4079,26.4292,0.7520,1.1217,0.6373
Yemen,3,12.5401,11.5271,0.5514,0.2564,8.0010,1.3463,0.3847,0.1667
Zambia,3,9.6005,14.3225,0.6266,0.1343,4.9010,1.2756,1.0070,0.1567
Zimbabwe,3,10.3796,9.7922,0.3682,0.0614,4.5674,2.1040,0.2455,0.0789

In [35]:
#Create a filtered dataframe from specific columns
Protein_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Protein_Supply_Quantity_transformed= Protein_Supply_Quantity_df[Protein_Supply_Quantity_cols].copy()

#Rename column headers 
Protein_Supply_Quantity_transformed = Protein_Supply_Quantity_transformed.rename(columns={'Country': 'Country', 
                                                                                    'Animal Products':'Animal_Products',
                                                                                    'Cereals - Excluding Beer':'Cereals',
                                                                                    'Eggs':'Eggs',
                                                                                    'Fruits - Excluding Wine': 'Fruits',
                                                                                    'Meat':'Meat',
                                                                                    'Milk - Excluding Butter':'Milk',
                                                                                    'Fish, Seafood': 'Fish_Seafood', 
                                                                                    'Vegetables':'Vegetables'})


#Clean the data by dropping duplicates and setting the index
Protein_Supply_Quantity_transformed.drop_duplicates("Country", inplace=True)
Protein_Supply_Quantity_transformed.set_index("Country", inplace=True)

Protein_Supply_Quantity_transformed.insert(0,'Type', 4)

Protein_Supply_Quantity_transformed

,Type,Animal_Products,Cereals,Eggs,Fruits,Meat,Milk,Fish_Seafood,Vegetables
Country,,,,,,,,,
Afghanistan,4,21.6397,8.0353,0.6859,0.4246,6.1244,8.2803,0.0327,0.3593
Albania,4,32.0002,2.6734,1.6448,0.6418,8.7428,17.7576,0.1445,0.6503
Algeria,4,14.4175,4.2035,1.2171,0.5772,3.8961,8.0934,0.2008,0.5145
Angola,4,15.3041,6.5545,0.1539,0.3488,11.0268,1.2309,1.4155,0.1231
Antigua and Barbuda,4,27.7033,3.2153,0.3872,1.2177,14.3202,6.6607,1.5263,0.2469
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),4,16.3261,2.5449,0.6555,0.9640,7.0949,5.5217,0.5707,0.1851
Vietnam,4,33.2484,3.7155,0.7839,0.4079,26.4292,0.7520,1.1217,0.6373
Yemen,4,12.5401,11.5271,0.5514,0.2564,8.0010,1.3463,0.3847,0.1667
Zambia,4,9.6005,14.3225,0.6266,0.1343,4.9010,1.2756,1.0070,0.1567
Zimbabwe,4,10.3796,9.7922,0.3682,0.0614,4.5674,2.1040,0.2455,0.0789

# Concat dataframes together 
Create one larger dataframe with all values from Fat Supply, Food Supply, Kcal, and Protein Suppy.

In [47]:
dfs = [Fat_Supply_Quantity_transformed, Food_Supply_Quantity_transformed, Food_Supply_Kcal_transformed, Protein_Supply_Quantity_transformed]
nan_value = 0

Covid_19_Diet = pd.concat(dfs, join='outer').fillna(nan_value)

Covid_19_Diet

,Type,Animal_Products,Cereals,Eggs,Fruits,Meat,Milk,Fish_Seafood,Vegetables
Country,,,,,,,,,
Afghanistan,1,21.6397,8.0353,0.6859,0.4246,6.1244,8.2803,0.0327,0.3593
Albania,1,32.0002,2.6734,1.6448,0.6418,8.7428,17.7576,0.1445,0.6503
Algeria,1,14.4175,4.2035,1.2171,0.5772,3.8961,8.0934,0.2008,0.5145
Angola,1,15.3041,6.5545,0.1539,0.3488,11.0268,1.2309,1.4155,0.1231
Antigua and Barbuda,1,27.7033,3.2153,0.3872,1.2177,14.3202,6.6607,1.5263,0.2469
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),4,16.3261,2.5449,0.6555,0.9640,7.0949,5.5217,0.5707,0.1851
Vietnam,4,33.2484,3.7155,0.7839,0.4079,26.4292,0.7520,1.1217,0.6373
Yemen,4,12.5401,11.5271,0.5514,0.2564,8.0010,1.3463,0.3847,0.1667
Zambia,4,9.6005,14.3225,0.6266,0.1343,4.9010,1.2756,1.0070,0.1567
Zimbabwe,4,10.3796,9.7922,0.3682,0.0614,4.5674,2.1040,0.2455,0.0789

In [46]:
connection_string = "postgres:Kemb@2010@localhost:5432/ETL_db"
engine = create_engine(f'postgresql://{connection_string}')

# Load DataFrames into database

In [48]:
Fat_Supply_Quantity_transformed.to_sql(name='Fat_Supply_Quantity', con=engine, if_exists='append', index=True)

In [49]:
Food_Supply_Quantity_transformed.to_sql(name='Food_Supply_Quantity', con=engine, if_exists='append', index=True)

In [50]:
Food_Supply_Kcal_transformed.to_sql(name='Food_Supply_Kcal', con=engine, if_exists='append', index=True)

In [51]:
Protein_Supply_Quantity_transformed.to_sql(name='Protein_Supply_Quantity', con=engine, if_exists='append', index=True)

In [52]:
Covid_19_Diet.to_sql(name='Covid_19_Diet', con=engine, if_exists='append', index=True)