# Covid_19_Diet Tables

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
Fat_Supply_Quantity = "../Resources/Fat_Supply_Quantity_Data.csv"
Fat_Supply_Quantity_df = pd.read_csv(Fat_Supply_Quantity)
Fat_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.0,21.64,6.22,0.0,8.04,0.69,0.03,0.42,6.12,...,28.37,17.08,0.36,4.5,29.8,0.14,0.01,0.12,0.01,38928000
1,Albania,0.0,32.00,3.42,0.0,2.67,1.64,0.14,0.64,8.74,...,18.00,9.24,0.65,22.3,6.2,2.97,0.05,1.79,1.12,2838000
2,Algeria,0.0,14.42,0.90,0.0,4.20,1.22,0.20,0.58,3.90,...,35.59,27.36,0.51,26.6,3.9,0.24,0.01,0.17,0.07,44357000
3,Angola,0.0,15.30,1.31,0.0,6.55,0.15,1.42,0.35,11.03,...,34.70,22.46,0.12,6.8,25.0,0.06,0.00,0.06,0.00,32522000
4,Antigua and Barbuda,0.0,27.70,4.67,0.0,3.22,0.39,1.53,1.22,14.32,...,22.30,14.44,0.25,19.1,0.0,0.29,0.01,0.19,0.10,98000

In [3]:
Food_Supply_Quantity = "../Resources/Food_Supply_Quantity_kg_Data.csv"
Food_Supply_Quantity_df = pd.read_csv(Food_Supply_Quantity)
Food_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal fats,Animal Products,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Vegetal Products,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.00,0.20,9.43,0.0,24.81,0.21,0.04,5.35,1.20,...,0.53,6.76,40.56,4.5,29.8,0.14,0.01,0.12,0.01,38928000
1,Albania,1.67,0.14,18.77,0.0,5.78,0.58,0.21,6.79,1.88,...,0.33,11.78,31.23,22.3,6.2,2.97,0.05,1.79,1.12,2838000
2,Algeria,0.27,0.03,9.63,0.0,13.68,0.53,0.24,6.38,1.13,...,1.03,11.65,40.37,26.6,3.9,0.24,0.01,0.17,0.07,44357000
3,Angola,5.81,0.06,4.93,0.0,9.11,0.06,1.77,6.00,2.06,...,0.65,2.30,45.07,6.8,25.0,0.06,0.00,0.06,0.00,32522000
4,Antigua and Barbuda,3.58,0.01,16.66,0.0,6.00,0.23,4.15,10.75,5.69,...,0.81,5.45,33.32,19.1,0.0,0.29,0.01,0.19,0.10,98000

In [4]:
Food_Supply_Kcal = "../Resources/Food_Supply_kcal_Data.csv"
Food_Supply_Kcal_df = pd.read_csv(Food_Supply_Kcal)
Food_Supply_Kcal_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.00,4.78,0.85,0.0,37.12,0.15,0.00,1.48,1.20,...,45.25,2.30,0.75,4.5,29.8,0.14,0.01,0.12,0.01,38928000
1,Albania,0.91,16.09,1.06,0.0,16.21,0.81,0.15,3.90,3.87,...,33.91,2.82,2.75,22.3,6.2,2.97,0.05,1.79,1.12,2838000
2,Algeria,0.09,6.03,0.19,0.0,25.01,0.42,0.12,3.18,1.25,...,43.97,5.76,2.05,26.6,3.9,0.24,0.01,0.17,0.07,44357000
3,Angola,1.94,4.69,0.26,0.0,18.35,0.04,0.84,2.31,2.93,...,45.32,4.27,0.35,6.8,25.0,0.06,0.00,0.06,0.00,32522000
4,Antigua and Barbuda,2.30,15.37,1.54,0.0,13.72,0.21,1.73,3.68,7.04,...,34.62,4.69,1.30,19.1,0.0,0.29,0.01,0.19,0.10,98000

In [5]:
Protein_Supply_Quantity = "../Resources/Protein_Supply_Quantity_Data.csv"
Protein_Supply_Quantity_df = pd.read_csv(Protein_Supply_Quantity)

Protein_Supply_Quantity_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.00,9.75,0.03,0.0,35.98,0.41,0.06,0.58,3.13,...,0.00,1.14,0.05,4.5,29.8,0.14,0.01,0.12,0.01,38928000
1,Albania,0.18,27.75,0.07,0.0,14.23,1.81,0.63,1.28,7.66,...,0.01,3.25,0.05,22.3,6.2,2.97,0.05,1.79,1.12,2838000
2,Algeria,0.03,13.84,0.01,0.0,26.56,1.29,0.64,1.16,3.51,...,0.03,3.13,0.14,26.6,3.9,0.24,0.01,0.17,0.07,44357000
3,Angola,0.63,15.23,0.03,0.0,20.39,0.18,5.44,1.28,7.62,...,0.01,0.81,0.09,6.8,25.0,0.06,0.00,0.06,0.00,32522000
4,Antigua and Barbuda,0.15,33.19,0.13,0.0,10.51,0.49,8.21,1.26,16.07,...,0.04,1.60,0.29,19.1,0.0,0.29,0.01,0.19,0.10,98000

In [11]:
covid = "../Resources/Fat_Supply_Quantity_Data.csv"
covid_cols_df = pd.read_csv(covid)
covid_cols_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.0,21.64,6.22,0.0,8.04,0.69,0.03,0.42,6.12,...,28.37,17.08,0.36,4.5,29.8,0.14,0.01,0.12,0.01,38928000
1,Albania,0.0,32.00,3.42,0.0,2.67,1.64,0.14,0.64,8.74,...,18.00,9.24,0.65,22.3,6.2,2.97,0.05,1.79,1.12,2838000
2,Algeria,0.0,14.42,0.90,0.0,4.20,1.22,0.20,0.58,3.90,...,35.59,27.36,0.51,26.6,3.9,0.24,0.01,0.17,0.07,44357000
3,Angola,0.0,15.30,1.31,0.0,6.55,0.15,1.42,0.35,11.03,...,34.70,22.46,0.12,6.8,25.0,0.06,0.00,0.06,0.00,32522000
4,Antigua and Barbuda,0.0,27.70,4.67,0.0,3.22,0.39,1.53,1.22,14.32,...,22.30,14.44,0.25,19.1,0.0,0.29,0.01,0.19,0.10,98000

## Create filtered Dataframes

In [6]:
#Create a filtered dataframe from specific columns
Food_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Food_Supply_Quantity_transformed= Food_Supply_Quantity_df[Food_Supply_Quantity_cols].copy()

#Rename column headers 
Food_Supply_Quantity_transformed = Food_Supply_Quantity_transformed.rename(columns={'Country': 'country', 
                                                                                    'Animal Products':'animal_products',
                                                                                    'Cereals - Excluding Beer':'cereals',
                                                                                    'Eggs':'eggs',
                                                                                    'Fruits - Excluding Wine': 'fruits',
                                                                                    'Meat':'meat',
                                                                                    'Milk - Excluding Butter':'milk',
                                                                                    'Fish, Seafood': 'fish_seafood', 
                                                                                    'Vegetables':'vegetables'})


#Clean the data by dropping duplicates and setting the index
Food_Supply_Quantity_transformed.drop_duplicates("country", inplace=True)
Food_Supply_Quantity_transformed.set_index("country", inplace=True)

Food_Supply_Quantity_transformed.insert(0,'type', 2)

Food_Supply_Quantity_transformed

,type,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,,
Afghanistan,2,9.43,24.81,0.21,5.35,1.20,7.58,0.04,6.76
Albania,2,18.77,5.78,0.58,6.79,1.88,15.72,0.21,11.78
Algeria,2,9.63,13.68,0.53,6.38,1.13,7.62,0.24,11.65
Angola,2,4.93,9.11,0.06,6.00,2.06,0.83,1.77,2.30
Antigua and Barbuda,2,16.66,6.00,0.23,10.75,5.69,6.37,4.15,5.45
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),2,14.76,12.93,0.34,7.65,3.83,9.39,0.95,4.15
Vietnam,2,8.58,16.87,0.31,5.90,4.44,0.61,2.64,11.95
Yemen,2,5.79,27.21,0.26,5.13,2.79,1.89,0.52,3.21
Zambia,2,6.02,21.19,0.34,1.02,1.84,1.76,1.69,3.46
Zimbabwe,2,8.15,22.62,0.27,2.20,2.61,4.43,0.55,2.32

In [7]:
#Create a filtered dataframe from specific columns
Fat_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Fat_Supply_Quantity_transformed= Fat_Supply_Quantity_df[Fat_Supply_Quantity_cols].copy()

#Rename column headers 
Fat_Supply_Quantity_transformed = Fat_Supply_Quantity_transformed.rename(columns={'Country': 'country', 
                                                                                    'Animal Products':'animal_products',
                                                                                    'Cereals - Excluding Beer':'cereals',
                                                                                    'Eggs':'eggs',
                                                                                    'Fruits - Excluding Wine': 'fruits',
                                                                                    'Meat':'meat',
                                                                                    'Milk - Excluding Butter':'milk',
                                                                                    'Fish, Seafood': 'fish_seafood', 
                                                                                    'Vegetables':'vegetables'})


#Clean the data by dropping duplicates and setting the index
Fat_Supply_Quantity_transformed.drop_duplicates("country", inplace=True)
Fat_Supply_Quantity_transformed.set_index("country", inplace=True)

Fat_Supply_Quantity_transformed.insert(0,'type', 1)

Fat_Supply_Quantity_transformed

,type,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,,
Afghanistan,1,21.64,8.04,0.69,0.42,6.12,8.28,0.03,0.36
Albania,1,32.00,2.67,1.64,0.64,8.74,17.76,0.14,0.65
Algeria,1,14.42,4.20,1.22,0.58,3.90,8.09,0.20,0.51
Angola,1,15.30,6.55,0.15,0.35,11.03,1.23,1.42,0.12
Antigua and Barbuda,1,27.70,3.22,0.39,1.22,14.32,6.66,1.53,0.25
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),1,16.33,2.54,0.66,0.96,7.09,5.52,0.57,0.19
Vietnam,1,33.25,3.72,0.78,0.41,26.43,0.75,1.12,0.64
Yemen,1,12.54,11.53,0.55,0.26,8.00,1.35,0.38,0.17
Zambia,1,9.60,14.32,0.63,0.13,4.90,1.28,1.01,0.16
Zimbabwe,1,10.38,9.79,0.37,0.06,4.57,2.10,0.25,0.08

In [8]:
#Create a filtered dataframe from specific columns
Food_Supply_Kcal_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Food_Supply_Kcal_transformed= Food_Supply_Kcal_df[Food_Supply_Kcal_cols].copy()

#Rename column headers 
Food_Supply_Kcal_transformed = Food_Supply_Kcal_transformed.rename(columns={'Country': 'country', 
                                                                                    'Animal Products':'animal_products',
                                                                                    'Cereals - Excluding Beer':'cereals',
                                                                                    'Eggs':'eggs',
                                                                                    'Fruits - Excluding Wine': 'fruits',
                                                                                    'Meat':'meat',
                                                                                    'Milk - Excluding Butter':'milk',
                                                                                    'Fish, Seafood': 'fish_seafood', 
                                                                                    'Vegetables':'vegetables'})


#Clean the data by dropping duplicates and setting the index
Food_Supply_Kcal_transformed.drop_duplicates("country", inplace=True)
Food_Supply_Kcal_transformed.set_index("country", inplace=True)

Food_Supply_Kcal_transformed.insert(0,'type', 3)

Food_Supply_Kcal_transformed

,type,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,,
Afghanistan,3,4.78,37.12,0.15,1.48,1.20,2.45,0.00,0.75
Albania,3,16.09,16.21,0.81,3.90,3.87,9.94,0.15,2.75
Algeria,3,6.03,25.01,0.42,3.18,1.25,3.99,0.12,2.05
Angola,3,4.69,18.35,0.04,2.31,2.93,0.51,0.84,0.35
Antigua and Barbuda,3,15.37,13.72,0.21,3.68,7.04,4.69,1.73,1.30
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),3,7.23,21.31,0.29,2.38,3.14,2.65,0.44,0.67
Vietnam,3,10.98,26.98,0.29,1.80,7.83,0.56,1.04,1.96
Yemen,3,3.47,32.07,0.15,1.19,2.01,0.65,0.17,0.36
Zambia,3,3.30,31.55,0.20,0.22,1.52,0.52,0.57,0.45
Zimbabwe,3,3.94,29.80,0.14,0.44,1.75,1.08,0.16,0.25

In [9]:
#Create a filtered dataframe from specific columns
Protein_Supply_Quantity_cols = ['Country', 'Animal Products', 'Cereals - Excluding Beer',
                             'Eggs', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Fish, Seafood', 'Vegetables']
Protein_Supply_Quantity_transformed= Protein_Supply_Quantity_df[Protein_Supply_Quantity_cols].copy()

#Rename column headers 
Protein_Supply_Quantity_transformed = Protein_Supply_Quantity_transformed.rename(columns={'Country': 'country', 
                                                                                    'Animal Products':'animal_products',
                                                                                    'Cereals - Excluding Beer':'cereals',
                                                                                    'Eggs':'eggs',
                                                                                    'Fruits - Excluding Wine': 'fruits',
                                                                                    'Meat':'meat',
                                                                                    'Milk - Excluding Butter':'milk',
                                                                                    'Fish, Seafood': 'fish_seafood', 
                                                                                    'Vegetables':'vegetables'})

#Clean the data by dropping duplicates and setting the index
Protein_Supply_Quantity_transformed.drop_duplicates("country", inplace=True)
Protein_Supply_Quantity_transformed.set_index("country", inplace=True)

Protein_Supply_Quantity_transformed.insert(0,'type', 4)

Protein_Supply_Quantity_transformed

,type,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,,
Afghanistan,4,9.75,35.98,0.41,0.58,3.13,5.53,0.06,1.14
Albania,4,27.75,14.23,1.81,1.28,7.66,16.48,0.63,3.25
Algeria,4,13.84,26.56,1.29,1.16,3.51,8.06,0.64,3.13
Angola,4,15.23,20.39,0.18,1.28,7.62,1.15,5.44,0.81
Antigua and Barbuda,4,33.19,10.51,0.49,1.26,16.07,7.43,8.21,1.60
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),4,22.54,21.65,0.87,1.07,11.83,6.31,2.65,1.01
Vietnam,4,20.45,18.52,0.77,0.72,11.04,1.09,5.74,3.72
Yemen,4,10.01,35.12,0.43,0.49,5.95,1.96,0.94,0.54
Zambia,4,9.89,28.52,0.58,0.09,4.32,1.03,3.01,0.80
Zimbabwe,4,11.34,33.19,0.51,0.26,6.66,2.41,1.08,0.60

In [23]:
#Create a filtered dataframe from specific columns
covid_cols = ['Country', 'Obesity', 'Undernourished',
                             'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population'] 
covid_cols_transformed = covid_cols_df[covid_cols].copy()

#Rename column headers 
covid_cols_transformed = covid_cols_transformed.rename(columns={'Country': 'country', 
                                                                'Obesity': 'obesity',
                                                                'Undernourished': 'undernourished',
                                                                'Confirmed':'confirmed',
                                                                'Deaths':'deaths',
                                                                'Recovered':'recovered',
                                                                'Active':'active',
                                                                'Population':'population'})

#Clean the data by dropping duplicates and setting the index
covid_cols_transformed.drop_duplicates("country", inplace=True)
covid_cols_transformed.set_index("country", inplace=True)

covid_cols_transformed

,obesity,undernourished,confirmed,deaths,recovered,active,population
country,,,,,,,
Afghanistan,4.5,29.8,0.14,0.01,0.12,0.01,38928000
Albania,22.3,6.2,2.97,0.05,1.79,1.12,2838000
Algeria,26.6,3.9,0.24,0.01,0.17,0.07,44357000
Angola,6.8,25.0,0.06,0.00,0.06,0.00,32522000
Antigua and Barbuda,19.1,0.0,0.29,0.01,0.19,0.10,98000
...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),25.2,21.2,0.45,0.00,0.42,0.02,28645000
Vietnam,2.1,9.3,0.00,0.00,0.00,0.00,96209000
Yemen,14.1,38.9,0.01,0.00,0.00,0.00,29826000
Zambia,6.5,46.7,0.33,0.00,0.29,0.04,18384000
Zimbabwe,12.3,51.3,0.23,0.01,0.19,0.03,14863000

## Concatenate  dataframes together 
Create one larger dataframe with all values from Fat Supply, Food Supply, Kcal, and Protein Suppy.

In [13]:
dfs = [Fat_Supply_Quantity_transformed, Food_Supply_Quantity_transformed, Food_Supply_Kcal_transformed, Protein_Supply_Quantity_transformed]
nan_value = 0

Covid_19_Diet = pd.concat(dfs).fillna(nan_value)

Covid_19_Diet

,type,animal_products,cereals,eggs,fruits,meat,milk,fish_seafood,vegetables
country,,,,,,,,,
Afghanistan,1,21.64,8.04,0.69,0.42,6.12,8.28,0.03,0.36
Albania,1,32.00,2.67,1.64,0.64,8.74,17.76,0.14,0.65
Algeria,1,14.42,4.20,1.22,0.58,3.90,8.09,0.20,0.51
Angola,1,15.30,6.55,0.15,0.35,11.03,1.23,1.42,0.12
Antigua and Barbuda,1,27.70,3.22,0.39,1.22,14.32,6.66,1.53,0.25
...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),4,22.54,21.65,0.87,1.07,11.83,6.31,2.65,1.01
Vietnam,4,20.45,18.52,0.77,0.72,11.04,1.09,5.74,3.72
Yemen,4,10.01,35.12,0.43,0.49,5.95,1.96,0.94,0.54
Zambia,4,9.89,28.52,0.58,0.09,4.32,1.03,3.01,0.80
Zimbabwe,4,11.34,33.19,0.51,0.26,6.66,2.41,1.08,0.60

In [16]:
connection_string = "postgres:Kemb@2010@localhost:5432/ETL_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
engine.table_names()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['fat_supply_quantity',
 'food_supply_quantity',
 'food_supply_kcal',
 'protein_supply_quantity',
 'covid_19_diet',
 'covid_data']

## Load DataFrames into database

In [21]:
Fat_Supply_Quantity_transformed.to_sql(name='fat_supply_quantity', con=engine, if_exists='append', index=True)

In [14]:
Food_Supply_Quantity_transformed.to_sql(name='food_supply_quantity', con=engine, if_exists='append', index=True)

In [15]:
Food_Supply_Kcal_transformed.to_sql(name='food_supply_kcal', con=engine, if_exists='append', index=True)

In [16]:
Protein_Supply_Quantity_transformed.to_sql(name='protein_supply_quantity', con=engine, if_exists='append', index=True)

In [17]:
Covid_19_Diet.to_sql(name='covid_19_diet', con=engine, if_exists='append', index=True)

In [30]:
covid_cols_transformed.to_sql(name='covid_data', con=engine, if_exists='append', index=True)